{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en" ng-app="TestApp">

<body>
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          <h2>TOP RATED MOVIES</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>
        <div class="movie">
          <!-- Movie info Possibly use for loop to iterate through possibly [:5]!--> 
        </div>
        
        <div class="cl">&nbsp;</div>
      </div>
      <div class="box">
        <div class="head">
          <h2>RECOMMENDATION</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>
        <div class="movie">
          <!-- Movie info Possibly use for loop to iterate through!-->
        </div>
        <div class="cl">&nbsp;</div>
      </div>
      <div class="box">
        <div class="head">
          <h2>SOME CATEGORY</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>
        <div class="movie">
          <!-- Movie info Possibly use for loop to iterate through!-->
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}
