{% block content %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <title>Login</title>
    </head>
		</html>
<center>
<body>


<body id="login-page">
    <div class="form-box">
        <div class="form-logo">
            <p class="text-center logo">Spoiled Tomatillos</p>
        </div>
		<form action="login" action="/login" method="post">
			{{ form.hidden_tag() }}
			<!-- Username -->
			{{ form.username(size=32, placeholder="Username", class="form-control") }}
			{% for error in form.username.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			<!-- Password -->
			{{ form.password(size=32, placeholder="Password", class="form-control") }}
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			<!-- Remember Me -->
			{{ form.remember_me() }} {{ form.remember_me.label }}
			<!-- Submit Button -->
			{{ form.submit(class="btn btn-social") }}
			{% if form.submit.error %}
				<span style="color: red;">[{{ form.submit.error }}]</span>
			{% endif %}

		</form>
		<a href="/reset_password" class="login-action" title="Forgot password">
			<p>Forgot your password?</p>
		</a>

		<a href="{{ url_for('register') }}" class="login-action" title="Sign in">
			<p>New User?</p>
		</a>
    </div><!--Close form-box-->

</body>

{% endblock %}