{% block content %}

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Spoiled Tomatillos</title>
	{% endif %}
</head>


<body id="login-page">
		{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
        {% endif %}
        {% endwith %}
    <div class="form-box">
        <div class="form-logo">
            <p class="text-center logo">Spoiled Tomatillos</p>
        </div>
		<form action="login" action="/login" method="post">
			{{ form.hidden_tag() }}
			<!-- Username -->
			{{ form.username(size=32, placeholder="Username", class="form-control") }}
			{% for error in form.username.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			<!-- Password -->
			{{ form.password(size=32, placeholder="Password", class="form-control") }}
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			<!-- Remember Me -->
			{{ form.remember_me() }} {{ form.remember_me.label }}
			<!-- Submit Button -->
			{{ form.submit(class="btn btn-social") }}
			{% if form.submit.error %}
				<span style="color: red;">[{{ form.submit.error }}]</span>
			{% endif %}

		</form>
		<a href="/reset_password" class="login-action" title="Forgot password">
			<p>Forgot your password?</p>
		</a>

		<a href="{{ url_for('register') }}" class="login-action" title="Sign in">
			<p>New User?</p>
		</a>
    </div><!--Close form-box-->

</body>
</html>

{% endblock %}