{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}


{% block content %}
<div id="main">
<center>
  <body>
   <header>
    <div class="cotainter page-title">
     <a href="/index">
      <h1>Spoiled Tomatillos</h1>
    </a>
  </div>
</header>

<main>
  <form method=post>
    <dl>
      <p>{{ render_field(form.username) }}</p>

      <p>{{ render_field(form.email) }}</p>
      <p>{{ render_field(form.password) }}</p>
      <p>{{ render_field(form.confirm) }}</p>
      <p>{{ render_field(form.accept_tos) }}</p>

    </dl>
    <p><input type=submit value=Register></p>
  </form>
</main>
</body>
</center>
</div>
{% endblock %}