{% extends "base.html" %}

{% block content %}


<body>

  <div id="shell">
    <div id="header">
      <center>
      <h1 id="logo"><a href="#">{{user.username}}</a></h1>
    </center>

<section id="name_image">
  <h1>User Name</h1>
<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" id="prof-pic">
</section>

<section id="bio">
<p> Profile Description: Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam,
  a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti.
  Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices.
  Suspendisse in justo eu magna luctus suscipit.</p>
</section>
<section id="movies">
  <h1>Favorite Movies</h1>
  <p class="text-left"><a href="#">See all</a></p>
</section>
<section id="reviews">
  <h1>Reviews</h1>
  <p class="text-left"><a href="#">See all</a></p>
</section>
<section id="groups">
  <h1>Groups</h1>
  <p class="text-left"><a href="#">See all</a></p>
</section>
</div>
</body>
{% endblock %}
